{{ if .IsFragment }}
    [[ $title := concat "{{ .Meta.Title }} |" (getBrand) ]]
    <title id="title">[[ $title ]]</title>
    <meta  id="og-title" property="og:title" content="[[ $title ]]">
    [[ $meta := (dict 
        "description"    (dict "Name" "description" "Content" "{{ .Meta.Description }}")    
        "og-type"        (dict "Property" "og:type" "Content" "{{ .Meta.Type }}") 
        "og-description" (dict "Property" "og:description" "Content" "{{ .Meta.Description }}")  
        "og-url"         (dict "Property" "og:url" "Content" "{{ .Meta.URL }}")  
        "og-image"       (dict "Property" "og:image" "Content" "{{ .Meta.Image  }}")
        "twitter-card"   (dict "Name" "twitter:card" "Content" "{{ .Meta.Card }}")    
        "twitter-title"  (dict "Name" "twitter:title" "Content" $title)    
        "twitter-image"    (dict "Name" "twitter:image" "Content" "{{ .Meta.Image }}")    
        "twitter-description" (dict "Name" "twitter:description" "Content" "{{ .Meta.Description }}")    
    )]]
    [[ range $id, $data := $meta ]]
    <meta id="[[ $id ]]"[[ with $data.Property ]] property="[[.]]"[[end]][[ with $data.Name ]] name="[[.]]"[[end]] content="[[ $data.Content ]]" hx-swap-oob="true">
    [[ end ]]
{{ end }}
{{ with .Data }}
[[ .Body ]]
{{ end }}