<!DOCTYPE html>
<html lang="[[ .Lang.Code ]]">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    [[ $title := coalesce .Data.Title getTitleBrand ]]
    [[ $desc  := getDesc ]]
    <title id="title">[[ $title ]]</title>
    <meta  id="og-title" property="og:title" content="[[ $title ]]">
    [[ $defaultMeta := (dict 
        "og-description" (dict "Property" "og:description" "Content" $desc)  
        "description"    (dict "Name" "description" "Content" $desc) 
        "og-type"        (dict "Property" "og:type" "Content" "website") 
        "og-image"       (dict "Property" "og:image" "Content" (asset "/static/assets/og-image.png"))
    )]]
    [[ range $id, $data := (mergeDicts $defaultMeta .Data.Meta )]]
    <meta id="[[ $id ]]"[[ with $data.Property ]] property="[[.]]"[[end]][[ with $data.Name ]] name="[[.]]"[[end]] content="[[ $data.Content ]]">
    [[ end ]]

    <meta name="theme-color"  content="#222831" id="theme-color">
    <meta name="color-scheme" content="dark light">
    <script>
    (function() {
      window.themeLSKey = window.themeLSKey || 'user-theme';
      const darkQuery = window.matchMedia('(prefers-color-scheme: dark)');
      
      const savedTheme = localStorage.getItem(window.themeLSKey);
      const theme = savedTheme || (darkQuery.matches ? 'dark' : 'light');

      document.documentElement.setAttribute('data-theme', theme) 
    })();
    </script>

    [[ registerScriptGlobal "websocket.js" ]]

    <link rel="stylesheet" href="[[ asset "/static/css/main.css" ]]">
    <link data-no-hot href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/x-icon" href="[[ asset "/static/assets/favicon.svg" ]]">
    [[ $URL := concat getBaseUrlProtocol (coalesce "" .Data.Path) -]]
    <link rel="canonical" href="[[ $URL ]][[ if ne .Lang.Code "en" ]]?lang=[[ .Lang.Code ]][[ end ]]">
    [[ range $_, $lang := .AllLangs -]]
        <link rel="alternate" hreflang="[[ $lang.Code ]]" href="[[ $URL ]][[ if ne $lang.Code "en" ]]?lang=[[ $lang.Code ]][[ end ]]">
    [[ end -]]
    <link rel="alternate" hreflang="x-default" href="[[ $URL ]]">

    [[ $trans := getTranslations ]]
    [[- if ne $trans "{}" -]][[ import "scripts/i18n-cache" $trans ]][[- end ]]
    [[ getScriptImports ]]
</head>
<body[[ if .Data.BodyAttributes ]] [[ .Data.BodyAttributes ]][[ end -]]>
    [[ .Body ]]
</body>
</html>
