---
layout: page
---
<div class="fil flx col gap-md ovr-none">
    <iframe 
        srcdoc='[[ .Body ]]'
        width="100%" 
        height="100%"
        style="border: 1px solid #ccc; border-radius: 8px;">
    </iframe>
    <div class="flx px-md py-sm gap-sm">
        [[ import "components/settings/lang-menu.html" (dict "Classes" "flx col gap-sm w-2xl open txt-2xl" ) ]]
        [[ import "components/settings/lang-btn.html"  nil ]]
        [[ import "components/settings/theme-btn.html" nil ]]
        <dih class="flx-1 flx col ali-end j-center">
            <a href="/api/auth/logout"><span class="txt-capitl">[[capitalize (tr "phrase:sign_out") ]]</span></a>
            <a href="/api/sendEmail?next=/email"><span class="txt-capitl">[[capitalize  (tr "phrase:email_test_send") ]]</span></a>
            <a href="/page"><span class="txt-capitl">[[capitalize  (tr "phrase:page_test")  ]]</span></a>
        </dih>
    </div>
</div>