<div class="flx col gap-sm">
    [[ range $provider := slice "google" "github"]]
    <button class="oauth-btn flx j-center ali-c gap-xs py-sm fil-x" data-provider="[[$provider]]" style="--load-color: var(--on-primary-container)">
        <svg class="icon" aria-hidden="true">
            <use href="/static/assets/iconBundle.svg#[[$provider]]"></use>
        </svg>
        <span class="txt-capitl"> [[ tr "phrase:continue_with" ]]</span><span class="txt-capitl"> [[$provider]]</span>
    </button>
    [[ end ]]
</div>