<label  class="txt-capitl fil-x" for="password-input">[[ tr "phrase:password" ]]</label>
<div class="pos-rel mb-lg mt-sm fil-x">
    <input  class="fil-x pl-sm pr-2xl py-sm txt-lg" name="password" id="password-input" type="password" required/>
    <button type="button" id="password-toggle" class="pos-abs top right bg-none fil-y px-md flx ali-c j-center">
        <svg class="icon">
            <use href="/static/assets/iconBundle.svg#eye"></use>
        </svg>
    </button>
</div>
[[ registerScript "auth/password-input.js" ]]