{{define "page_title"}}{{ fullTitle }}{{end}}
{{define "page_desc"}}{{  tr "desc:auth/confirm-challenge" }}{{end}}

{{define "content"}}
<main class="flx ali-c j-center fil">
    <div class="txt-center flx col gap-md j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:425px">
        <h1 class="txt-2xl mb-sm ls-wide">{{ tr "title:auth/confirm-challenge" }}</h1>
        <form id="form" data-endpoint="/api/auth/verify/confirm" class="flx col ali-s j-left txt-left mb-sm">
            <button class="txt-capitl txt-lg fw-bold py-md bg-primary fil-x" type="submit" style="--load-color: var(--on-primary); flex: 1;">{{ tr "phrase:next" }}</button>
        </form>
        <div class="flx gap-lg j-spcBetween">
            <div class="flx col txt-left w-fit">
                <a class="txt-capitl keep-next" href="/sign-in">
                    <span>{{ tr "phrase:sign_in" }}</span>
                </a>
                 <a class="txt-capitl keep-next" href="/sign-up">
                    <span>{{ tr "phrase:sign_up" }}</span>
                </a>
            </div>
            <div class="flx col txt-left">
                <span id="error-dsp"  class="txt-right txt-error" style="flex: 1;"></span>
                <span id="error-dsp2" class="txt-right txt-error" style="flex: 1;"></span>
            </div>
        </div>
    </div>
    <div class="flx col ali-end gap-sm pos-abs bottom right p-sm txt-lg ovr-none pev-none-container">
        <ul id="lang-menu" class="flx col gap-sm bg-surface-container w-var tr-right-100" style="--w: 80px">
            {{ getLangElements }}
        </ul>
        <div class="flx ali-end gap-sm">
            <button class="mode-btn icon-container bgr-container" id="themeSwitch-btn" aria-label="">
                <svg class="icon" aria-hidden="true">
                    <use href=""></use>
                </svg>
            </button>
            <button class="icon-container bgr-container" id="langSwitch-btn" aria-label="">
                <svg class="icon" aria-hidden="true">
                    <use href="/static/assets/iconBundle.svg#i18n"></use>
                </svg>
            </button>
        </div>
    </div>
</main>
<script type="module" src="/static/js/auth/challenge-confirm.js"></script>
{{end}}