{{define "page_title"}}{{ fullTitle }}{{end}}
{{define "page_desc"}}{{ tr "desc_register" }}{{end}}

{{define "content"}}
<main class="flx ali-c j-center fil">
    <div class="flx col gap-md j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:425px">
        <h1 class="txt-2xl mb-sm ls-wide">{{ tr "title:auth/new-password" }}</h1>
        <form id="form" data-endpoint="/api/auth/reset/confirm" class="flx col ali-s j-left txt-left mb-sm">
            <label  class="txt-capitl fil-x" name="password" for="password-input">{{ tr "phrase:new_password" }}</label>
            <div class="pos-rel mb-lg mt-sm fil-x">
                <input  class="fil-x pl-sm pr-2xl py-sm txt-lg" name="new_password" id="password-input" type="password" autocomplete="new-password" required/>
                <button type="button" id="password-toggle" class="pos-abs top right bg-none fil-y px-md flx ali-c j-center">
                    <svg class="icon">
                        <use href="/static/assets/iconBundle.svg#eye"></use>
                    </svg>
                </button>
            </div>
            <button class="txt-capitl txt-lg fw-bold fil-x py-sm bg-primary" type="submit" style="--load-color: var(--on-primary)">{{ tr "phrase:confirm" }}</button>   
        </form>
        <div class="flx gap-lg j-spcBetween">
            <div class="flx col txt-left w-fit">
                <a class="txt-capitl keep-next" href="/sign-in" id="login-link">
                    <span>{{ tr "phrase:sign_in" }}</span>
                </a>
                 <a class="txt-capitl keep-next" href="/sign-up" id="login-link">
                    <span>{{ tr "phrase:sign_up" }}</span>
                </a>
            </div>
            <span id="error-dsp" class="txt-right txt-error" style="flex: 1;"></span>
        </div>
    </div>
    <div class="flx col ali-end gap-sm pos-abs bottom right p-sm txt-lg ovr-none pev-none-container">
        <ul id="lang-menu" class="flx col gap-sm bg-surface-container w-var tr-right-100" style="--w: 80px">
            {{ getLangElements }}
        </ul>
        <div class="flx ali-end gap-sm">
            <button class="mode-btn icon-container bgr-container" id="themeSwitch-btn" aria-label="">
                <svg class="icon" aria-hidden="true">
                    <use href=""></use>
                </svg>
            </button>
            <button class="icon-container bgr-container" id="langSwitch-btn" aria-label="">
                <svg class="icon" aria-hidden="true">
                    <use href="/static/assets/iconBundle.svg#i18n"></use>
                </svg>
            </button>
        </div>
    </div>
</main>
<script type="module" src="/static/js/auth/login.js"></script>
{{end}}