[[ $class :=  dict "Class" "flx-1"]]
[[ import "components/settings/theme-btn.html" $class ]]
[[ import "components/settings/lang-btn.html"  $class ]]
<div class="pos-abs fil-x" style="bottom: calc(100% + 5px); left: 50%; transform: translateX(-50%); overflow-x: hidden;pointer-events: none;">
    [[ import "components/settings/lang-menu.html" (
        dict 
        "WrapClass" "flx col gap-sm bg-surface-container p-sm bdrT-rad-md "
        "WrapStyle" "border-top-right-radius: 0;" 
        "LangClass" "py-sm") ]]
</div>