---
 layout: page
---
{{ $header     := "[[ capitalize ( tr "title:auth/finish-external/register" ) ]]" }}
{{ $buttonText := "[[ capitalize (tr "phrase:sign_up") ]]" }}


{{ if eq .Action "link" }}
    {{ $header     = "[[ capitalize ( tr "title:auth/finish-external/link" ) ]]" }}
    {{ $buttonText = "[[ capitalize (tr "phrase:link") ]]" }}
{{end}}
[[ registerScript "auth/basic-redir-form.js" ]]
<main class="flx ali-c j-center fil">
    <div class="txt-left flx col gap-md j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:425px">
        <h1 class="txt-2xl mb-sm ls-wide">{{ $header }}</h1>
        <div class="flx gap-md j-spcBetween ali-c p-md bdr-rad-lg" style="background-color: var(--primary-container);">
            <img src="{{ .AvatarURL }}" style="border-radius: 50%; width: 67px; aspect-ratio: 1/1;">
            <ul class="flx col">
                <li>[[ capitalize (tr "phrase:email") ]]: {{ .Email }}</li>
                <li>[[ capitalize (tr "phrase:provider") ]]: {{ .Provider }}</li>
            </ul>
        </div>
        <form class="flx col ali-s j-left txt-left" id="form">
            {{ if eq .Action "register" }}
                [[ import "components/auth/username-input.html" (dict "Value" "{{ .Username }}" "Attribute" `autocomplete="off"` ) ]]
            {{ end }}
            <div class="flx j-spcBetween gap-md fil-x">
                <button
                    class="txt-lg fw-bold py-sm px-sm bg-primary deform" 
                    type="submit"
                    style="flex: 2;"
                    data-endpoint="/api/auth/e/finalize"
                    style="--load-color: var(--on-primary)"
                    >
                    {{ $buttonText }}
                </button>
            </div>
        </form>
        <div class="fil-x flx gap-md j-spcBetween">
            <a class="txt-lg txt-center fw-bold py-sm px-sm bg-primary-container bdr-rad-sm" href="/api/auth/e/cancel" style="flex: 3;">
                [[ capitalize (tr "phrase:cancel") ]]
            </a>
            <div class="flx gap-md pos-rel" style="flex: 2;">
                [[ import "components/settings/bundle.html" nil ]]
            </div>
        </div>
    </div>
</main>