---
 layout : page
 name   : auth/login
---
[[ registerScript "auth/login.js" ]]
<main class="flx ali-c j-center fil">
    <div class="txt-center flx col gap-md j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:425px">
        <h1 class="txt-2xl ls-wide">[[ getTitle ]]</h1>
        [[ import "components/auth/oauth-btns.html" . ]]
        <div class="separator my-sm">[[ capitalize (tr "phrase:or_use_local") ]]</div>
        <form id="form" data-endpoint="/api/auth/login" class="flx col ali-s j-left txt-left mb-sm">
            <label class="fil-x" for="identifier-input"> [[ capitalize (tr "lbl:login_identifier") ]]</label>
            <input  
                class="fil-x p-sm mb-md mt-sm txt-lg" 
                name="identifier" 
                id="identifier-input" 
                type="text"
                inputmode="email"
                autocomplete="username"
                placeholder="[[ tr "plh:email" ]]"
                required
            />
            [[ import "components/auth/password-input.html" (dict "Attribute" `autocomplete="password"` ) ]]
            <button 
            class="txt-lg fw-bold fil-x py-sm bg-primary"
            type="submit"
            style="--load-color: var(--on-primary)"
            >[[ capitalize (tr "phrase:sign_in") ]]</button>   
        </form>
        <div class="flx j-spcBetween">
            <div class="flx col txt-left">
                [[ import "components/keep-next-link.html" (slice
                    ( dict 
                        "Href" "/sign-up" 
                        "Text" (capitalize (tr "phrase:sign_up"))
                    )
                    ( dict
                        "Href" "/password-reset" 
                        "Text" (capitalize (tr "phrase:forgot_password"))
                    )
                )]]
            </div>
            <div class="flx gap-md w-var pos-rel" style="--w:35%;">
                [[ import "components/settings/bundle.html" nil ]]
            </div>
        </div>
    </div>
</main>