---
 layout : page
 name   : auth/login
---
[[ registerScript "auth/login.js" ]]
<main class="flx ali-c j-center fil">
    <div class="txt-center flx col j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:425px">
        <div class="pos-rel">
            <h1 class="txt-2xl ls-wide">[[ getTitle ]]</h1>
            [[ import "components/auth/oauth-btns.html" . ]]
            <div class="separator">[[ capitalize (tr "phrase:or_use_local") ]]</div>
            <form id="form" data-endpoint="/api/auth/login" class="flx col ali-s j-left txt-left">
                <label class="fil-x" for="identifier-input"> [[ capitalize (tr "lbl:login_identifier") ]]</label>
                <input  
                    class="fil-x p-sm mb-md mt-sm txt-lg" 
                    name="identifier" 
                    id="identifier-input" 
                    type="text"
                    inputmode="email"
                    autocomplete="username"
                    placeholder="[[ tr "plh:email" ]]"
                    required
                />
                [[ import "components/auth/password-input.html" (dict "Attribute" `autocomplete="password"` "IncludeLink" true) ]]
                <button 
                class="txt-lg fw-bold fil-x py-sm bg-primary mt-md mb-sm"
                type="submit"
                style="--load-color: var(--on-primary)"
                >[[ capitalize (tr "phrase:sign_in") ]]</button>
                <span id="err-dsp" style="color: var(--error);"></span>
                <div class="flx mt-sm ali-c gap-sm">
                    <label for="remember-input">[[ capitalize ( tr "phrase:remember_me" ) ]]</label>
                    <input id="remember-input" name="remember" type="checkbox">
                </div>
            </form>
            <div class="flx j-spcBetween">
                <div class="flx col txt-left">
                    [[ import "components/keep-next-link.html" (slice
                        ( dict 
                            "Href" "/sign-up" 
                            "Text" (capitalize (tr "phrase:sign_up"))
                        )
                    )]]
                </div>
            </div>
            <div class="pos-abs bottom right w-var h-var" style="--w:36%;--h:45px">
                <div class="flx gap-md pos-rel fil">
                    [[ import "components/settings/bundle.html" nil ]]
                </div>
            </div>
        </div>
    </div>
</main>