---
 layout: page
 name:   auth/verify
 ---
[[ registerScript "auth/verify.js" ]]
<main class="flx ali-c j-center fil">
    <div class="flx col gap-sm j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:425px">
        <div id="states-wrapper" data-state="{{ .State }}">
            <div data-state="email" {{ if ne .State "email" }}class="hidden"{{ end }}>
                [[ import "components/auth/challenge/email-request.html" (
                    dict 
                    "Endpoint" "/api/auth/verify/init" 
                    "TitleKey" "title:verify/email-request"
                    "FormID"   "form-email"
                    )
                ]]
            </div>
            <div data-state="code" class="txt-center{{ if ne .State "code" }} hidden{{ end }}">
                [[ import "components/auth/challenge/enter-code.html" (
                    dict 
                    "Endpoint"       "/api/auth/verify/check"
                    "ResendEndpoint" "/api/auth/verify/init" 
                    "TitleKey"       "title:verify/enter-code"
                    "FormID"         "form-code"
                    )
                ]]
            </div>
            <div data-state="success" {{ if ne .State "success" }}class="hidden"{{ end }}>
                <h1 class="txt-2xl mb-sm ls-wide">[[ getTitle ]]</h1>
                <form class="flx col ali-s j-left txt-left mb-sm" id="form-confirm">
                    <button
                    class="txt-lg fw-bold py-md bg-primary fil-x"
                    type="submit"
                    data-endpoint="/api/auth/verify/confirm"
                    style="--load-color: var(--on-primary); flex: 1;"
                    >[[ tr "phrase:next" ]]</button>
                </form>
            </div>
        </div>
        <div class="flx gap-lg j-spcBetween ali-e">
            <div class="flx col txt-left">
                <span id="err-dsp" style="color: var(--error);"></span>
                <button class="bg-none fil-x txt-left{{ if ne .State "code" }} hidden{{ end }}" id="state-back">[[ capitalize (tr "phrase:back")]]</button>
                [[ import "components/keep-next-link.html" (slice
                    ( dict
                        "Href" "/sign-in" 
                        "Text" (capitalize (tr "phrase:sign_in"))
                    )
                    ( dict 
                        "Href" "/sign-up" 
                        "Text" (capitalize (tr "phrase:sign_up"))
                    )
                )]]
            </div>
            <div class="flx gap-md w-var h-var pos-rel" style="--w:35%; --h:40px">
                [[ import "components/settings/bundle.html" nil ]]
            </div>
        </div>
    </div>
</main>
