[[ registerScript "auth/components/code-input.js" ]]
[[ $length := 6 ]]
[[ if .Data.Length ]][[ $length = .Data.Length ]][[ end ]]

[[ $inputID := "code-input" ]]
[[ if .Data.InputID ]][[ $inputID = .Data.InputID ]][[ end ]]

<label class="sr-only" for="[[ $inputID ]]">[[ tr "phrase:code" ]]</label>
<div 
class="pos-rel fil-x my-md [[ if .Data.Classes ]] [[ .Data.Classes ]][[ end ]]" 
[[ if .Data.Styles ]]style="[[ .Data.Styles ]]"[[ end ]]
>
    <input 
        id="[[ $inputID ]]"
        class="pos-abs fil crs-text txt-center"
        style="letter-spacing: 1em;z-index: 2;opacity: 0;"
        name="code" 
        type="text" 
        inputmode="numeric" 
        pattern="\d+"
        maxlength="[[ $length ]]" 
        autocomplete="one-time-code"
        [[ if .Data.Attribute ]][[ .Data.Attribute ]][[ end ]]
        required
    />
    <div id="[[ if .Data.CodeID ]][[ .Data.CodeID ]][[ else ]]code[[ end ]]" class="flx gap-sm fil" aria-hidden="true">
        [[ range seq  $length]]
        <span class="auth-code-box"></span>
        [[ end ]]
    </div>
</div>