[[ registerScript "auth/components/username-input.js" ]]
<div class="mb-md">
    <label class="fil-x" for="display-name-input">[[ capitalize (tr "phrase:display_name") ]]</label>
    <input
        class="fil-x p-sm mb-md mt-sm txt-lg" 
        name="display_name"
        id="display-name-input"
        type="email"
        autocomplete="name"
        placeholder="[[ tr "plh:display_name" ]]"
        required
    />
    <div class="fil-x">
        <label for="username-input">[[ capitalize (tr "phrase:username") ]]</label>
    </div>
    <div class="pos-rel mt-sm fil-x">
        <input  
            class="fil-x p-sm txt-lg pr-2xl"
            name="username"
            id="username-input"
            type="text"
            placeholder="[[ tr "plh:user" ]]"
            [[ if .Data.Value ]]value="[[ .Data.Value ]]"[[ end ]]
            [[ if .Data.Attribute ]][[ .Data.Attribute ]][[ end ]]
            required
        />
        <div class="pos-abs top right fil-y grd pli-c" id="username-status" style="width: 2.5em;">
            <svg class="icon color">
                <use href="[[ asset "/static/assets/iconBundle.svg" ]]"></use>
            </svg>
        </div>
    </div>
    <div class="flx col gap-sm j-center hidden" id="username-suggestions">
        <span>[[ capitalize (tr "phrase:username_try" ) ]]</span>
        <ul class="gap-sm flx wrap">
            [[- range seq 3 ]]
            <li>
                <button class="px-sm py-xs" type="button"></button>
            </li>
            [[ end -]]
        </ul>
    </div>
</div>