<div class="flx col gap-sm">
    [[- range $provider := slice "google" "github" -]]
    <a class="oauth-btn" data-provider="[[$provider]]" style="--load-color: var(--on-primary-container)">
        <svg class="icon" aria-hidden="true">
            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#[[$provider]]"></use>
        </svg>
        [[ capitalize (tr "phrase:continue_with") ]] [[ capitalize $provider]]
    </a>
    [[- end ]]
</div>
[[ registerScript "auth/components/oauthBtn.js" ]]