<div class="fil-x pos-rel">
    <ul 
    id="password-rule-list" 
    class="pos-abs bg-surface-container p-md flx col gap-sm fil-x bdrT-rad-md hidden" 
    style="bottom: calc(100% + 10px); border-bottom: 1px solid var(--outline);">
        [[ $rules :=
            ( dict 
            (tr "password-rule:lenght")    ".{10,}"
            (tr "password-rule:number")    "\\d"
            (tr "password-rule:mix" )      "[!@#$%^&*]"
            (tr "password-rule:uppercase") "[A-Z]" 
            )
        ]]
        [[ range $rule, $regex := $rules ]]
        <li class="flx ali-c j-spcBetween" data-regex="[[ $regex ]]">
            <span>[[ $rule ]]</span>
            <svg class="icon color" aria-hidden="true">
                <use href="[[ asset "/static/assets/iconBundle.svg" ]]#cross">
                </use>
            </svg>
        </li>
        [[ end ]]
    </ul>
    [[ registerScript "auth/components/rules-password-input.js" ]]
    [[ import "components/auth/password-input.html" (dict "Pattern" "^(?=.*[A-Z])(?=.*\\d).{10,}$"  "Attribute" .Data.Attribute ) ]]
</div>