<label  class="fil-x" for="password-input">[[ capitalize (tr "phrase:password") ]]</label>
<div class="pos-rel mb-lg mt-sm fil-x" id="password-input-wrapper">
    <input 
        class="fil-x pl-sm pr-2xl py-sm txt-lg"
        name="password"
        id="password-input" 
        type="password"
        [[ if .Data.Pattern]] pattern="[[.Data.Pattern]]"[[ end ]] 
        [[ if .Data.Attribute ]][[ .Data.Attribute ]][[ end ]]
        required
    />
    <button type="button" id="password-toggle" class="pos-abs top right bg-none fil-y px-md flx ali-c j-center">
        <svg class="icon">
            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#eye"></use>
        </svg>
    </button>
</div>
[[ registerScript "auth/components/password-input.js" ]]