---
 layout: page
 name:   2fa/enter-code
---
[[ registerScript "auth/2fa/enter-code.js" ]]
<main class="flx ali-c j-center fil">
    <div class="txt-center flx col gap-sm j-center p-lg bdr-rad-lg bg-surface-container w-var" style="--w:450px">
        <h1 class="txt-2xl ls-wide" style="margin-bottom: 0;">[[ getTitle ]]</h1>
        <form id="digit-code-form" class="flx col ali-s j-left txt-left mb-sm">
            [[ import "components/auth/code-input.html" ( dict
            "Classes"   "txt-2xl h-var"
            "Attribute" "autofocus"
            "Styles"    "--h:2em"
             )]]
            <button 
            class="txt-lg fw-bold py-sm px-sm bg-primary fil-x"
            type="submit" 
            data-endpoint="/api/auth/2fa/login"
            style="--load-color: var(--on-primary);"
            >[[ capitalize (tr "phrase:sign_in") ]]</button>
        </form>
        <form id="recovery-code-form" class="flx col ali-s j-left txt-left mb-sm hidden">
            <label for="recovery-code-input">[[ capitalize ( tr "phrase:recovery_code" )]]</label>
            <input 
            type="text"
            name="code"
            autocomplete="one-time-code"
            spellcheck="false"
            placeholder="[[ tr "plh:recovery_code" ]]"
            id="recovery-code-input"
            class="fil p-sm mb-md mt-sm txt-lg"
            style="word-spacing: 2em;"
            >
            <button 
            class="txt-lg fw-bold py-sm px-sm bg-primary fil-x"
            type="submit"
            data-endpoint="/api/auth/2fa/recovery/verify"
            style="--load-color: var(--on-primary);"
            >[[ capitalize (tr "phrase:sign_in") ]]</button>
        </form>
        <div class="flx gap-lg j-spcBetween ali-e">
            <div class="flx col txt-left w-fit">
                <button class="bg-none fil-x txt-left" id="state-toggle">.</button>
                <a class="keep-next" href="/sign-in">
                    <span>[[ capitalize (tr "phrase:sign_in") ]]</span>
                </a>
                 <a class="keep-next" href="/sign-up">
                    <span>[[ capitalize (tr "phrase:sign_up") ]]</span>
                </a>
            </div>
            <div class="flx gap-md w-var h-var pos-rel" style="--w:35%;--h:45px">
                [[ import "components/settings/bundle.html" nil ]]
            </div>
        </div>
    </div>
</main>