---
name : post
kind : htmx 
---
<article class="post-card"[[ if .Data ]] [[ .Data ]][[ end ]]>
    <header>
        <img src="{{ .Author.AvatarURL }}" alt="{{ .Author.DisplayName }}">
        <a href="/u/{{ .Author.Username }}">{{ .Author.DisplayName }}</a>
    </header>
    <section class="post-content">
        <p>{{ .Content }}</p>
        {{ range .MediaURLs }}
            {{ $type := getMediaType . }}
            
            {{ if eq $type "image" }}
                <img src="{{ . }}" alt="User uploaded image" loading="lazy">
            {{ else if eq $type "video" }}
                <video src="{{ . }}" controls preload="metadata"></video>
            {{ end }}
        {{ end }}
    </section>
    <footer>
        <button hx-post="/posts/{{ .ID }}/like"  
                hx-swap="outerHTML"
                class="post-like-btn"
                aria-checked="{{ if .IsLiked }}true{{ else }}false{{ end }}"
                aria-label="{{ if .IsLiked }}[[capitalize (tr "phrase:unlike")]]{{ else }}[[capitalize (tr "phrase:like")]]{{ end }}">
                {{ .LikesCount }}
        </button>
        <button hx-post="/posts/{{ .ID }}/repost"  
                hx-swap="outerHTML"
                class="post-repost-btn"
                aria-checked=".IsReposted"
                aria-label="{{ if .IsReposted }}[[capitalize (tr "phrase:unrepost")]]{{ else }}[[capitalize (tr "phrase:repost")]]{{ end }}">
                {{ .RepostsCount }}
        </button>
    </footer>
</article>