---
name : post
kind : htmx 
---
<article class="post-card"[[ if and .Data .Data.Attributes ]] [[ .Data.Attributes ]][[ end ]]>
    <div class="flx gap-md">
        {{ if .Author.AvatarURL }}
        <img class="pfp" src="{{ .Author.AvatarURL }}" alt="{{ .Author.DisplayName }}"/>
        {{ else }}
        <div class="pfp grd pli-c bdr-low txt-md">
            {{capitalize (firstChar .Author.DisplayName) }}
        </div>
        {{ end }}
    </div>
    <div class="flx col fil-x">
        <header>
            <a class="fw-bold" href="/{{ .Author.Username }}">{{ .Author.DisplayName }}</a>
            <relative-time class="txt-muted" datetime="{{ .CreatedAt.Format "2006-01-02T15:04:05Z07:00" }}"></relative-time>
        </header>
        <section class="fil-x">
            <p>{{ .Content }}</p>
            {{ range .MediaURLs }}
                {{ $type := getMediaType . }}
                {{ if eq $type "image" }}
                    <img src="{{ . }}" class="post-media" alt="[[ tr "alt:post_image" ]]" loading="lazy">
                {{ else if eq $type "video" }}
                    <video src="{{ . }}" class="post-media" controls preload="metadata"></video>
                {{ else if eq $type "youtube" }}
                    <div class="video-container">
                        <iframe 
                            src="https://www.youtube-nocookie.com/embed/{{ extractYoutubeID . }}" 
                            title="[[ tr "title:youtube_video_player" ]]" 
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                {{ end }}
            {{ end }}
        </section>
        [[ if and .Data .Data.BeforeFooter ]][[ .Data.BeforeFooter ]][[ end ]]
        <footer class="flx j-spcBetween mt-md">
            [[ import "htmx/components/post/like-btn.html" ""]]
            [[ import "htmx/components/post/repost-btn.html" ""]]
        </footer>
        [[ if and .Data .Data.AfterFooter ]][[ .Data.AfterFooter ]][[ end ]]
    </div>
</article>