---
kind   : htmx
layout : htmx
name : home
---
<header>
    <nav>
        <ul class="flx j-spcBetween">
            <li class="selection-tab lighten" aria-selected="true">
                 <span>[[ capitalize (tr "phrase:global") ]]</span>
            </li>
            <li class="selection-tab lighten" > 
                <span>[[ capitalize (tr "phrase:following") ]]</span>
            </li>
        </ul>
    </nav>
</header>
<form 
    class="my-md bg-surface-container bdr-rad-md p-md flx gap-sm" 
    style="--pfp-size:3rem"
    hx-post="/posts" 
    hx-target="#feed-container" 
    hx-swap="afterbegin" 
    hx-on::after-request="this.reset()"
>
    <img class="pfp" src="{{ .AvatarURL }}" alt="Avatar">
    
    <div class="fil-x">
        <textarea
            name="content"
            class="post-input"
            placeholder="[[ capitalize (tr "plh:posts:post" ) ]]"
            rows="3"
            required
            maxlength="280"
        ></textarea>
        
        <div class="flx j-end mt-sm">
            <button type="submit" class="px-md py-sm reverse-colors deform">
                [[ capitalize (tr "phrase:post") ]]
            </button>
        </div>
    </div>
</form>
<div id="feed-container">
</div>