---
kind   : htmx
layout : htmx
name : home
---
<header>
    <nav>
        <ul class="flx j-spcBetween">
            <li class="selection-tab lighten" aria-selected="true">
                 <span>[[ capitalize (tr "phrase:global") ]]</span>
            </li>
            <li class="selection-tab lighten" > 
                <span>[[ capitalize (tr "phrase:following") ]]</span>
            </li>
        </ul>
    </nav>
</header>
{{ with .Profile }}
<form 
    class="my-md bg-surface-container bdr-rad-md p-md flx gap-sm" 
    style="--pfp-size:3rem"
    hx-post="/posts" 
    hx-target="#feed-container" 
    hx-swap="afterbegin" 
    hx-on::after-request="this.reset()"
>

    <div class="flx gap-md">
        {{ with .AvatarURL }}
        <img class="pfp" src="{{.}}"/>
        {{ else }}
        <div class="pfp grd pli-c bdr-low txt-lg">
            {{capitalize (firstChar .DisplayName) }}
        </div>
        {{ end }}
    </div>
    
    <div class="fil-x">
        <textarea
            name="content"
            class="post-input"
            placeholder="[[ capitalize (tr "plh:posts:post" ) ]]"
            required
            maxlength="280"
        ></textarea>
        
        <div class="flx j-end mt-sm gap-md">
            <input class="flx-1" name="media_urls[]"/>
            <button type="submit" class="px-md py-sm reverse-colors deform">
                [[ capitalize (tr "phrase:post") ]]
            </button>
        </div>
    </div>
</form>
{{ end }}
<section id="feed-container" class="effect flx col gap-md"
    style="--size:40px;--loading-border-width:4px; min-height: 40px;--pfp-size:2.5rem"
    hx-get="/posts" 
    hx-trigger="load" 
    hx-swap="beforeend">
</section>