---
kind   : htmx
layout : htmx
name : user-profile
---
<header id="user-profile-header" class="user-profile-header" data-status="{{ .Status }}" data-profile-id="{{ .Profile.ID }}">
    <a id="back-btn" class="crs-pointer grd pli-c">
        <svg class="icon" aria-hidden="true">
            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#arrow-left"></use>
        </svg>
    </a>
    <span>[[capitalize (tr "phrase:profile") ]] {{ .Profile.DisplayName }}</span>
</header>
<div>
    <img src="{{ or .Profile.BannerURL "https://cdn.sanity.io/images/599r6htc/regionalized/858bb9c294615c07c379587bb8a8fdb53a51e678-1440x810.png?q=75&fit=max&auto=format&dpr=2" }}" class="fil-x" style="height: 200px;"/>
    <div class="flx j-spcBetween ali-s">
        <div class="user-profile-pfp-container">
            {{ with .Profile.AvatarURL }}
            <img class="pfp" src="{{.}}"/>
            {{ else }}
            <div class="pfp grd pli-c bdr-low bg-surface-container txt-2xl">{{capitalize (firstChar .Profile.DisplayName) }}</div>
            {{ end }}
        </div>
        <button 
        class="px-md py-sm"
        hx-post="/{{ .Profile.Username }}/follow" 
        hx-target="this" 
        hx-swap="outerHTML">
                {{ if eq .Status "following" }}[[ tr "phrase:unfollow" ]]{{ else }}[[ tr "phrase:follow" ]]{{ end }}
        </button>
    </div>
</div>