---
kind   : htmx
layout : htmx
name : user-profile
---
<header id="user-profile-header" class="user-profile-header" data-status="{{ .Status }}" data-profile-id="{{ .Profile.ID }}">
    <a id="back-btn" class="crs-pointer grd pli-c">
        <svg class="icon" aria-hidden="true">
            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#arrow-left"></use>
        </svg>
    </a>
    <span>[[capitalize (tr "phrase:profile") ]] {{ .Profile.DisplayName }}</span>
</header>
<img src="{{ or .Profile.BannerURL "https://cdn.sanity.io/images/599r6htc/regionalized/858bb9c294615c07c379587bb8a8fdb53a51e678-1440x810.png?q=75&fit=max&auto=format&dpr=2" }}" class="fil-x" style="height: 200px;"/>
<div class="px-md">
    <div class="flx j-end ali-c gap-md pos-rel mt-sm mb-md">
        <div class="user-profile-pfp-container">
            {{ with .Profile.AvatarURL }}
            <img class="pfp" src="{{.}}"/>
            {{ else }}
            <div class="pfp grd pli-c bdr-low bg-surface-container txt-2xl">{{capitalize (firstChar .Profile.DisplayName) }}</div>
            {{ end }}
        </div>
        <button class="grd pli-c bg-surface-container p-sm bdr-rad-circle">
            <svg class="icon" aria-hidden="true">
                <use href="[[ asset "/static/assets/iconBundle.svg" ]]#more"></use>
            </svg>
        </button>
        {{ if ne .Status "guest" }}
            {{ if eq .Status "self" }}
            <button class="px-md py-sm">[[ tr "phrase:edit" ]]</button>
            {{ else }}
            <button
            class="user-profile-follow-btn"
            {{ if eq .Status "not_following" }}
            not-following
            {{ end }}
            hx-post="/{{ .Profile.Username }}/follow" 
            hx-target="this"
            hx-swap="outerHTML">
                    {{ if eq .Status "following" }}[[ tr "phrase:unfollow" ]]{{ else }}[[ tr "phrase:follow" ]]{{ end }}
            </button>
            {{ end }}
        {{ end }}
    </div>
    <p class="txt-xl fw-bold">{{ .Profile.DisplayName }}</p>
    <p class="txt-muted">@{{ .Profile.Username }}</p>
    {{ with .Profile.Bio }}
    <p>{{ . }}</p>
    {{ else }}
    {{ end }}
    <div class="mt-md flx ali-c gap-sm txt-muted">
        <svg class="icon" aria-hidden="true">
            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#calendar"></use>
        </svg>
        <p>[[capitalize (tr "phrase:joined_at") ]] <relative-time mode="absolute" datetime="{{ .Profile.CreatedAt.Format "2006-01-02T15:04:05Z07:00" }}"></relative-time></p>
    </div>
    <div class="flx gap-md mt-sm mb-md">
        <p class="txt-muted"><span class="txt-normal fw-bold" id="user-profile-count-following">{{ .Profile.FollowingCount }}</span> [[ tr "phrase:following" ]]</p>
        <p class="txt-muted"><span class="txt-normal fw-bold" id="user-profile-count-followers">{{ .Profile.FollowersCount }}</span> [[ tr "phrase:followers" ]]</p>
    </div>
    <nav>
        <ul class="flx j-spcBetween">
            [[ range (slice 
            (  dict 
                "Text" "navigation/text:posts"
                "Get"  "/{{ .Profile.Username }}"
            ) (dict 
                "Text" "navigation/text:replies" 
                "Get"  "/{{ .Profile.Username }}/replies"
            ))]]
            <li class="selection-tab lighten">
                <a class="flx-1 crs-pointer" hx-get="[[ .Get ]]" hx-push-url="true">
                [[capitalize ( tr .Text )]]
                </a>
            </li>
            [[ end ]]
        </ul>
    </nav>
    <div>
    </div>
</div>