---
layout: page
---
[[ registerScriptGlobal "htmx.min.js"  ]]
[[ range $script := (slice "main.js" "router.js" "user.js")]]
[[ registerScript  $script]]
[[ end ]]
[[ $title := concat "{{ .Meta.Title }} |" (getBrand) ]]
[[ $meta := (dict 
    "description"    (dict "Name" "description" "Content" "{{ .Meta.Description }}")    
    "og-type"        (dict "Property" "og:type" "Content" "{{ .Meta.Type }}") 
    "og-description" (dict "Property" "og:description" "Content" "{{ .Meta.Description }}")  
    "og-url"         (dict "Property" "og:url" "Content" "{{ .Meta.URL }}")  
    "og-image"       (dict "Property" "og:image" "Content" "{{ .Meta.Image  }}")
    "twitter-card"   (dict "Name" "twitter:card" "Content" "{{ .Meta.Card }}")    
    "twitter-title"  (dict "Name" "twitter:title" "Content" $title)    
    "twitter-image"    (dict "Name" "twitter:image" "Content" "{{ .Meta.Image }}")    
    "twitter-description" (dict "Name" "twitter:description" "Content" "{{ .Meta.Description }}")    
)]]
[[ setData (dict "BodyAttributes" `class="body-main"` "Meta" $meta "Title" $title) ]]
<aside class="side-left">
    <div class="side-container flx col j-spcBetween">
        <div>
            <a hx-get="/" hx-push-url="true" hx-target="#main" style="--icon-size:2rem" class="flx ali-c mb-md">
                <svg class="icon" aria-hidden="true">
                    <use href="[[ asset "/static/assets/iconBundle.svg" ]]#brand"></use>
                </svg>
            </a>
            <nav>
                <ul class="flx col gap-lg" style="--icon-size:1.8rem">
                    [[ range (slice 
                    (  dict 
                        "Text" "navigation/text:home"
                        "Get"  "/"
                        "Icon" "home"
                    ) (dict 
                        "Text" "navigation/text:explore" 
                        "Get"  "/explore"
                        "Icon" "magnifier"
                    ))]]
                    <li>
                        <a class="navigation-item grow lighten"  hx-get="[[ .Get ]]" hx-push-url="true" hx-target="#main" >
                        [[capitalize ( tr .Text )]]
                        <svg class="icon" aria-hidden="true">
                            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#[[ .Icon ]]"></use>
                        </svg>
                        </a>
                    </li>
                    [[ end ]]
                    {{ with .Data }}
                    [[ range (slice 
                     (dict 
                        "Text" "navigation/text:notifications" 
                        "Get"  "/notifications"
                        "Icon" "bell"
                    ) (dict 
                        "Text" "navigation/text:chat"
                        "Get"  "/chat"
                        "Icon" "chat"
                    ) (dict
                        "Text" "navigation/text:profile"
                        "Get"  "/{{ .Username }}"
                        "Icon" "profile"
                    ))]]
                    <li>
                        <a class="navigation-item grow lighten"  hx-get="[[ .Get ]]" hx-push-url="true" hx-target="#main" >
                        [[capitalize ( tr .Text )]]
                        <svg class="icon" aria-hidden="true">
                            <use href="[[ asset "/static/assets/iconBundle.svg" ]]#[[ .Icon ]]"></use>
                        </svg>
                        </a>
                    </li>
                    [[ end ]]
                    {{ end }}
                </ul>
            </nav>
        </div>
        <div class="side-left-info">
            {{ with .Data }}
            <button class="bg-none flx ali-c gap-md" style="--icon-size:2rem" id="side-left-info-more-btn">
                {{ with .AvatarURL }}
                <img class="pfp" src="{{.}}"/>
                {{ else }}
                <div class="pfp grd pli-c bdr-low txt-lg">
                    {{capitalize (firstChar .DisplayName) }}
                </div>
                {{ end }}
                <div class="side-left-info-names">
                    <p class="txt-xl">{{ .DisplayName }}</p>
                    <p style="font-style: italic;">@{{ .Username }}</p>
                </div>
                <svg class="icon" aria-hidden="true">
                    <use href="[[ asset "/static/assets/iconBundle.svg" ]]#more"></use>
                </svg>
            </button>
            <div id="side-left-info-more" class="fil-x p-md bg-surface-container flx col gap-md anchored-thingy hide" style="--icon-size:1.5rem">
                <a href="/api/auth/logout" class="flx j-spcBetween ali-c gap-md">
                    [[capitalize (tr "phrase:logout") ]]
                    <svg class="icon" aria-hidden="true">
                        <use href="[[ asset "/static/assets/iconBundle.svg" ]]#out"></use>
                    </svg>
                </a>
                <a class="flx j-spcBetween ali-c gap-md"  hx-get="/settings" hx-push-url="true" hx-target="#main" >
                    [[capitalize (tr "phrase:settings") ]]
                    <svg class="icon" aria-hidden="true">
                        <use href="[[ asset "/static/assets/iconBundle.svg" ]]#cog"></use>
                    </svg>
                </a>
            </div>
            {{ else }}
            <div class="flx col gap-sm">
                <a href="/sign-in">[[capitalize (tr "phrase:sign_in") ]]</a>
                <a href="/sign-up">[[capitalize (tr "phrase:sign_up") ]]</a>
            </div>
             <svg class="icon" aria-hidden="true" style="--icon-size:2rem;">
                <use href="[[ asset "/static/assets/iconBundle.svg" ]]#in"></use>
            </svg>
            {{ end }}
        </div>
    </div>
</aside>
<main id="main" style="height: 2000px;">
    {{ .Body }}
</main>
<aside class="side-right">
</aside>